<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>{% block title %}{%endblock%}</title>
</head>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
<style>
   *{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      text-decoration: none;
      list-style-type: none;
      color: #000;
   }
   .header_title-content{
      margin: 4px 40px 0 0;
   }
   .px-2{
      color: #fff !important;
      transition: 1s;
   }
   .px-2:hover{
      border-bottom: 2px solid orange;
      transition: .05s;
   }
   .form-control-dark{
      outline: red!important;
   }
</style>
         <header class="p-3 text-bg-dark">
              <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start header_content">

               <div class="header_title-content">
                  <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                     <h1 style="color: #fff; font-size: 20px">Create Resume</h1>
                   </a>
               </div>
        
                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                  <li><a href="{% url 'home'%}" class="nav-link px-2 text-secondary">Главная</a></li>
                  <li><a href="{%url 'about'%}" class="nav-link px-2 text-white">О нас</a></li>
                  <li><a href="{% url 'addresum'%}" class="nav-link px-2 text-secondary">Добавить резюме</a></li>
                </ul>
        
                <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
                  <input type="search" class="form-control form-control-dark text-bg-dark" placeholder="Search..." aria-label="Search">
                </form>
        
                <div class="text-end">
                  <button type="button" class="btn btn-outline-light me-2">Login</button>
                  <button type="button" class="btn btn-warning">Sign-up</button>
                </div>

              </div>
          </header>

   <body class="body">
      <div class="container">
         {%block content%}
         {%endblock%}
      </div>
   </body>

</html>